/* ADD YOUR STYLES HERE */
ul, ol {
	list-style: none;
}


.container-center {
	text-align: center;
}
.plush-padding {
	padding: 18px;
	display: inline-block;
	vertical-align: top;
}
.plush-padding-vert {
	padding: 80px 0;
}
.fancy-list>li {
	display: inline-block;
}
.da-button {
	background-color: rgb(230,130,130);
	color: white;
	border-radius: 5px;
	text-decoration: none;
	display: inline-block;
	border: 0;
}
.da-button:hover {
	background-color: rgb(180,180,180);
}
.da-big-button {
	padding: 15px 35px;
	font-size: 22px;
}
.da-med-button {
	padding: 8px 25px;
}
.da-small-button {
	padding: 5px 5px;
}
.container-button {
	overflow: inherit;
}
.nav-list {
	border-radius: 5px;
	overflow: hidden;
	display: inline-block;
	padding: 0;
}
.nav-list>li {
	display: inline-block;
}
li>.da-button {
	border-radius: 0;
}
.pagination {
	padding: 8px
}
.pagination>li {
	display: inline-block;
}
.pagination-links {
	font-size: 18px;
	text-decoration: none;
	padding: 5px;
	margin: 5px;
	color: rgb(230,130,130);
}
.pagination-links.off {
	border-bottom: 3px solid rgb(230,130,130);
}
.pagination-links.on {
	color: rgb(200,200,200);
	border-bottom: 3px solid rgb(200,200, 200);
}
.pagination-links:hover {
	color: rgb(230,200,200);
	border-color: rgb(230,200, 200);
}
.comment {
	overflow: hidden;
}
.comment-content {
	padding: 5px 0;
}
.comment-content>time {
	color: rgb(150,150,150);
	font-size: 12px;
	padding: 5px
}

.comment-img {
	float: left;
	padding: 5px
}